{% extends './base.html' %}

{% block title %}
    {% if tag %}
        标签页: {{ tag.name }}
    {% endif %}
    {% if category %}
        分类页： {{ category.name }}
    {% endif %}
    {% if not tag and not category%}
        首页
    {% endif %}
{% endblock %}

{% block main %}
    <table border="1">
    <thead>
        <tr>

            <td>文章标题</td>
            <td>作者</td>
            <td>分类</td>
            <td>摘要</td>
        </tr>
    </thead>
    {% for post in post_list%}
        <tr>
            <td><a href="{% url 'post_detail' post.id %}">{{post.title}}</a></td>
            <td>{{post.owner}}</td>
            <td>{{post.category.name}}</td>
            <td>{{post.desc}}</td>
        </tr>
    {% endfor%}
</table>
{% if page_obj %}
    {% if page_obj.has_previous%}
    <a href="?page={{page_obj.previous_page_number}}">上一页</a>
    {% endif %}
    Page {{ page_obj.number }} of {{ paginator.num_pages }}
    {% if page_obj.has_next%}
    <a href="?page={{page_obj.next_page_number}}">下一页</a>
    {% endif %}
{% endif %}
{% endblock %}
